$color-green-light: #1ed760;
$color-green-dark: #1db954;
$color-black: rgb(24, 24, 24);
$color-grey-dark: rgb(30, 30, 30);
$color-grey-medium: #282828;
$color-grey-light: rgba(255, 255, 255, 0.6);
$color-white: #f2f2f2;